<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CINETEK</a>
            <div class="collapse navbar-collapse d-flex" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/insertMovie">Ajouter un film</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Se connecter</a>
                    </li>
                </ul>
                <!--                    <form class="d-flex">-->
                <!--                        <input class="form-control me-sm-2" type="search" placeholder="Search">-->
                <!--                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
                <!--                    </form>-->
            </div>
        </div>
    </nav>
</header>