<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="card mb-3">
    <h3 class="card-header">TITRE DU FLIM</h3>
    <div class="card-body">
        <h5 class="card-title">Date de sortie</h5>
        <h6 class="card-subtitle text-muted">Réalisateur</h6>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    <div class="card-body">
        <p class="card-text">ici on mettra le SYNOPSIS parce que je  trouve que ce bloc est bien adapté pour ca. je veux bien qu'on le mette ailleurs mais ca me parait moins logique. Après il n'y a pas de bons ou de mauvais emplacement en soit ....</p>
    </div>

    <div class="card-body">
        <p class="card-text">Liste des acteurs</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">acteur 1</li>
            <li class="list-group-item">acteur 2</li>
            <li class="list-group-item">acteur 3</li>
        </ul>
    </div>


    <div class="card-body">
        <p class="card-text">RATED  ******</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Modifier</a>
        <a href="#" class="card-link">Another link</a>
    </div>

</div>


</body>
</html>