<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>.:/ CINETEK \:.</title>

</head>
<body>
    <header th:replace="fragments/header.html :: header"> </header>
    <main>
        <div>
            <h1>LISTE DES FILMS</h1>

        </div>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de sortie</th>
                    <th scope="col">Réalisateur</th>
                    <th scope="col">Acteurs</th>
                    <th scope="col">Résumé</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-dark" th:each="movies: ${movies}">
                    <th scope="row" ><a href="#"><span th:text="${movies.title}"></span></a></th>
                    <td th:text="${movies.releaseDate}" > </td>
                    <td th:text="${movies.director}" > </td>
                    <td >
                        <ul>
                            <li th:each="actor : ${movies.actors}" th:text="${actor.firstname} + ' ' + ${actor.lastname}"></li>
                        </ul>
                    </td>

                    <td th:text="${movies.synopsis}" > </td>
                    <td>
                        <a href="/updateMovie"><button type="button" class="btn btn-outline-info">Modifier</button></a>
                        <a href="/deleteMovie"><button type="button" class="btn btn-outline-danger">Supprimer</button></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </main>



</body>
</html>